* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 4rem;
}

#full-page {
    background-color: rgb(85, 85, 85);
    width: 100%;
    margin: 0 auto;
    font-size: 1.6rem;
    line-height: 1.6;
}

button {
    .button();
}