.top-content {

    #welcome {
        .center;
        padding: 20px;
        font-size: 3rem;
    }
    .about {
        .center;
        font-size: 1.6rem;

        .question, .answer, .inspire {
        width: 70%;
        padding: 10px 0;
        display: flex;
        flex-wrap: wrap;
        .center;
        }
    }
    
}

.mid-content {

    .container-title{
        h2 {
            font-size: 2rem;
            padding: 20px;
            .center;
        }
    }
    .container {

    }
}