.top-content {

    #welcome {
        .center;
        padding: 20px;
        font-size: 3rem;
    }
    .about {
        .center;
        font-size: 1.6rem;

        .question, .answer, .inspire {
        width: 70%;
        padding: 10px 0;
        display: flex;
        flex-wrap: wrap;
        .center;
        }
    }
    
}

.mid-content {
    padding: 20px 0px 30px 0px;

    .container-title{
        h2 {
            font-size: 2rem;
            padding: 20px;
            .center;
        }
    }
    .container {
        display: flex;
        justify-content: space-around;

        .what-it-does, .how-it-works {
            width: 40%;

            .what-title, .works-title {
                font-size: 1.8rem;
                .center;
                padding-bottom: 10px;
            }
        }   
    }
}

.bottom-content {
    
    .features-title {
        .center;
        font-size: 2rem;
        padding-top: 20px;
    }

    .features {
        width: 35%;
        display: flex;
        
    }
}