.top-content {

    #welcome {
        .center;
        padding: 20px;
        font-size: 3.3rem;
        font-weight: bold;
        color: #a0001e;
    }
    .about {
        .center;
        font-size: 1.6rem;

        .question, .answer, .inspire {
        width: 70%;
        padding: 10px 0;
        display: flex;
        flex-wrap: wrap;
        .center;
        }
    }
    
}

.mid-content {
    padding: 20px 0px 30px 0px;

    .container-title{
        h2 {
            font-size: 3rem;
            padding: 20px;
            .center;
            color: #a0001e;
        }
    }
    .container {
        display: flex;
        justify-content: space-around;

        .what-it-does, .how-it-works {
            width: 40%;

            .what-title, .works-title {
                font-size: 1.8rem;
                .center;
                padding-bottom: 10px;
            }
        }   
    }
}

.bottom-content {
    
    .features-title {
        .center;
        font-size: 2.4rem;
        padding-top: 20px;
        color: #a0001e;
    }

    .features {
        display: flex;
        justify-content: space-around;

        .features-1, .features-2, .features-3, .features-4 {
            width: 20%;

            .features-1-title, .features-2-title, .features-3-title, .features-4-title {
                font-size: 1.8rem;
                .center;
                padding: 10px;
                border-bottom: 3px solid #a0001e;
            }

            .icon {
               width: 25%;
               .center;
               padding: 20px 0px 10px 0px;
               margin-left: 38%;
            }
            
        }
    }
}

.buttons {
    .center;
    padding: 30px;
}

.footer {
    .center;
    background-color: #464646;
    padding: 10px;
    border: 2px solid #a0001e;
}