.page-title {
    padding: 20px;
    border-bottom: 4px solid #a0001e;
    width: 100%;
    .center;
    background-image: linear-gradient(#a0001e, white);
    nav {
        font-size: 1.4rem;
        padding: 20px 40px;
        border: 1px solid gray;
        border-radius: 3px;
        a {
            text-decoration: none;
            color: #464646;
            margin: 0px 20px;
            &:hover {
                background-color: #a0001e;
                color: white;
                padding: 5px;
                border-radius: 3px;
                font-size: 1.6rem;

            }
        }
    }
    .logo {
        padding-top: 40px;
    }
    h1 {
        width: 50%;
        font-size: 3.6rem;
        color: white;
        margin: 40px auto;
        padding: 20px;
        border: 2px solid gray;
        background-color: #a0001e;
        border-radius: 5px;
        .center;
    }    
}