.page-title {
    padding: 20px;
    background-color: #464646;
    border: 1px solid black;
    width: 100%;
    .center;
    nav {
        font-size: 1.4rem;
        padding: 20px 40px;
        border: 1px solid gray;
        border-radius: 3px;
        a {
            text-decoration: none;
            color: #a0001e;
            margin: 0px 20px;
            &:hover {
                color: red;
            }
        }
    }
    .logo {
        padding-top: 40px;
    }
    h1 {
        width: 50%;
        font-size: 3.6rem;
        color: white;
        margin: 40px auto;
        padding: 20px;
        border: 2px solid gray;
        background-color: #a0001e;
        border-radius: 5px;
        .center;
    }    
}